body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card {
  border-radius: 5px !important;
}
/* .img-fluid {
  border-radius: 20px 0 0 0 !important;
} */
.submission-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.reminder-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.submission-card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.my-4 {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}
.img-fluid {
  background-position: center !important;
  background-size: cover !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.reminder-ppl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
